# Ignore master key for decrypting credentials and more.
/config/master.key

# coverage
/coverage/*
!/coverage/.keep

# log
/log/*
!/log/.keep

# nginx
/nginx/log/*
!/nginx/log/.keep

# tmp
/tmp/*
!/tmp/.keep

# env files
.env
