version: '3.8'

services:
  db:
    container_name: hayabusatrip_db
    # 2025年9月時点の最新版MySQL
    image: mysql:8.4.0
    env_file:
      - ./.env
    ports:
      - 3306:3306
    volumes:
      - ./tmp/db:/var/lib/mysql
    healthcheck:
      test:
        [
          'CMD',
          'mysqladmin',
          'ping',
          '-h',
          'localhost',
          '-u',
          'root',
          '--password=$$MYSQL_ROOT_PASSWORD',
        ]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    container_name: hayabusatrip_app
    build: .
    env_file:
      - ./.env
    environment:
      - RAILS_ENV=development
    # 本番用
    # - RAILS_ENV=production
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec pumactl start"
    volumes:
      - .:/backend
      - ./tmp/sockets:/backend/tmp/sockets
      - ./tmp/pids:/backend/tmp/pids
      - ./log:/backend/log
    tty: true
    stdin_open: true
    depends_on:
      db:
        condition: service_healthy

  web:
    container_name: hayabusatrip_web
    build:
      context: .
      dockerfile: ./nginx/Dockerfile
    volumes:
      - ./nginx/log:/var/log/nginx
      - ./tmp:/backend/tmp
      - ./public:/backend/public
    ports:
      - 80:80
    depends_on:
      - app
